body{
  background-color:rgb(90,210,80);
	font-family:Trebuchet, Arial, Helvetica, Sans-Serif;
}
h1{

  color:rgb(255,250,133);
  text-shadow:1px 1px 3px rgba(0,0,0,1);
}
html {
top:20%;
height: 80%;
width:100%;
}
body { 
	height: 100%; 
  margin:0px;
  padding:0px;
}
a:link{
  color:#228822;
}
a:visited{
  color:#004400;
}
a:hover{
  color:#44AA44;
}
a:active{
  color:#000000;
}
#map_canvas { 
	height: 100% 
}
.login-zone{
	width:350px;
	float:right;
  margin-right: 5px;
	font-family:Trebuchet, Arial, Helvetica, Sans-Serif;
	margin-top:5px;
}
head{
	font-family:Trebuchet, Arial, Helvetica, Sans-Serif;
	position:absolute;
}
.menuLink{
  padding-top:-20px;
  font-size:20px;
  margin-right:30px;
  margin-left:30px;
}
.registerBox{
	background-color:RGB(200,200,255);
}
.loginBox{background-color: RGB(.5,.5,1);
}

.newButton{
	float:right;
	padding:10px;
	background-color:RGB(210,245,171);
}
.joinButton{
  float:right;
  padding:5px;
  background-color:RGB(210,245,171);
}
.smallRightMap{
	position:absolute;
	width:300px;
	float:right;
}
.error{
	color:red;
}
.swapList{
}
table{
	width:100%;
border: 1px solid #BBB;
border-collapse: collapse;
border-color: #CCC;
margin: 0 0 1.286em;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 1.286em;
margin-left: 0px;
}
th{
border:1px solid RGB(120,82,55);
background-color: RGB(245,180,130);
}
td{
	padding:5px;
	border:1px solid RGB(140, 200, 140);
	background-color: RGB(245,255,235);
}
select{
	webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #222;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 4px;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input{
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  border: 1px solid #AAA;
  color: #222;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 4px;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  padding-left:20px;
}
#description{
  font-size: 18px;
  width:780px;
  margin: 0px auto;
}